@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

.canvas{
    width: 100%;
    height: 100vh;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    float: left;
}

.bar{
    width: 25%;
    height: 100%;
    background: #6cace4;
    filter: opacity(25%);
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 50%;
    background: white;
}

.logo{
    width: 20rem;
    height: 10rem;
}

.right{
    width: 65%;
    height: 100%;
    float: left;
}

.top{
    width: 100%;
    height: 20%;
}

.login{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}

.title{
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.subtitle{
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.link{
    text-decoration: none;
    color: #2774bc;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.details{
    width: 85%;
    height: 75%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.enter{
    width: 100%;
    height: 100%;
}

.category,.username,.password{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.category label,.username label,.password label{
    margin-left: 10%;
}

.category select,.username input,.password input{
    width: 50%;
    height: 35%;
    border-radius: 10px;
    border: 0;
    background: rgb(108 172 228 / 0.25);
    font-size: 1rem;
    text-align: center;
}

.category select{
    margin-left: 10%;
}

.username input{
    margin-left: 9%;
}

.password input{
    margin-left: 10%;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.submit input{
    width: 15%;
    height: 30%;
    background: #2774bc;
    border: 0;
    border-radius: 10px;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.submit input:hover{
    cursor: pointer;
    background: #6cace4;
}

@media screen and (orientation:portrait){
    .left{
        width: 100%;
        height: 20%;
    }

    .right{
        width: 100%;
        height: 80%;
    }

    .bar{
        width: 100%;
        height: 35%;
    }

    .circle{
        width: 7.5rem;
        height: 7.5rem;
    }

    .logo{
        width: 10rem;
        height: 5rem;
    }

    .title{
        font-size: 2rem;
    }

    .details{
        border-radius: 10px;
    }

    .category,.username,.password{
        font-size: 1rem;
    }

    .category select,.username input,.password input{
        width: 45%;
        height: 35%;
        border-radius: 5px;
    }

    .submit input{
        width: 25%;
        height: 30%;
    }
}
